.DS_Store
*.iws

java/code/audio/build
java/code/audio/dist
java/code/collections/build
java/code/collections/build-test
java/code/collections/dist
java/code/device/build
java/code/device/dist
java/code/menu/build
java/code/menu/dist
java/code/rss/build
java/code/rss/dist
java/code/serial/build
java/code/serial/dist
java/code/speech/build
java/code/speech/dist
java/code/usb-hid/build
java/code/usb-hid/dist
java/code/user-interface/build
java/code/user-interface/dist
java/code/util/build
java/code/util/build-test
java/code/util/dist
java/code/video/build
java/code/video/dist
java/code/xml/build
java/code/xml/dist
